# node
.DS_Store
node_modules/

# pkg-manager
pnpm-lock.yaml
package-lock.json
yarn.lock

# sveltekit
.svelte-kit/

# vercel
.vercel/
.output/

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# env
.env*
!.env.example
